:root{
    --ff-praimry: 'Marvel';
    --ff-scendery: 'Overlock SC';
    --ff-therd: 'Playfair Display';
    --clr-praimry: #fff;
    --clr-black: rgba(0, 0, 0, 0.7);
    --clr-royal: #008cff;
}
body,
h1,
h2,
p
{
    padding: 0;
    margin: 0;  
    box-sizing: border-box;
}
h1,h2{
    font-family: var(--ff-therd);
    font-weight: 900;
    line-height: 1;
    color: var(--clr-royal);
    font-size: 4rem;
}
body{
    background-image: url(../img/img-1.jpg);
	background-position:center;
	background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    place-content: center;
}
.site-title a{
    text-decoration: none;
}
.bg-black{
    width: 100vw;
    height: 100vh;
    background: #ffffff;
}
.login-title{
    font-family: var(--ff-therd);
    color: var(--clr-royal);
    font-size: 2rem;
}
.login-form{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;

}
.inbut-field{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
input{
    font-family: var(--ff-scendery);
    font-size: 1.5rem;
    border: 2px var(--clr-royal) solid;
    border-radius: 2rem;
    text-align: center;
    outline: none;
    padding: .5rem;
    margin-top: 1rem;
}
.forget-password{
    font-family: var(--ff-scendery);
    font-size: 1.1rem;
    line-height: 2;
}
.forget-password a{
    text-decoration: none;
    color: var(--clr-royal);
}
.forget-password p{
    color: var(--clr-black);
}
.login-button{
    min-width: 10rem;
    min-height: 1rem;
}
.login-button button{
    min-width: 100%;
    height: 2.5rem;
    font-size: 1.5rem;
    font-family: var(--ff-scendery);
    background: none;
    border-radius: 60px;
    border: 2px solid var(--clr-royal);
    color: var(--clr-royal);
    outline: none;
}
.login-button button:hover{
    color: rgb(255, 255, 255);
    background: var(--clr-royal);
    cursor: pointer;
    pointer-events: visibleFill;
}
.fab{
    font-size: 2rem;
    padding: 1rem;
}
.fa-facebook-f{
    color: var(--clr-royal);
}
.fa-google{
    color: var(--clr-royal);
}
@media (max-width:768px) {
    h1{
        font-size: 1.3rem;
    }
    input{
        width: 80vw;
        font-size: 1.2rem;
        padding: .5rem;
    }
    .login-button button{
        min-width: 7rem;
        font-size: 1.4rem;
    }
}
@media (max-width:480px){
    h1{
        font-size: 1.2rem;
    }
    input{
        width: 80vw;
        font-size: 1.2rem;
        padding: .5rem;
    }
    .login-button button{
        min-width: 5rem;
        font-size: 1rem;
    }
}