*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--ff-main);
}
:root{
    --ff-main : 'Overlock SC';
    --ff-secndary: 'Marvel';
    --ff-therd: 'Playfair Display';
    --clr-black: #877555;
    --clr-s: #c4a775;
    --clr-th: #ffeecb;
    --clr-fr: #008cff;
}
.center-navbar{
    display: grid;
    place-items: center;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 4rem;
    width: 80%;
    background:var(--clr-fr);
    border-radius: 60px;
    padding-left: 30px;
    margin: 30px;
}
.logo{
    margin-top: .5rem;
    font-size: 20px;
    font-family: var(--ff-main);
    display: inline-grid;
}
.logo h1{
    width: 280px;
    color: var(--clr-th);
}
.log-reg{
    margin-top: 1rem;
	width: 40%;
    height: auto;
}
.log-reg ul{
    display: flex ;
    justify-content: right;
    margin-right: 2rem;
}
.log-reg li{
    text-align: center;
    color: var(--clr-th);
    list-style: none;
    width: 5rem;
}
.log-reg li a{
    padding: 0rem;
    text-decoration: none;
    color: var(--clr-th);
    font-size: clamp(1rem, 5vw, 1.5rem);
}
.log-reg ul li a:hover{
    border-bottom: 2px solid var(--clr-th) ;
    cursor: pointer;
}
@media (max-width:1640px){
    .log-reg li a{
        font-size: clamp(1rem, 5vw, 1.2rem);
    }
}
.blur{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(360deg,var(--clr-th),rgba(255, 228, 78, 0));

}
.baner{
    width: 100%;
    margin: 0;
    height: 100%;
    background-image: url(../img/img-1.jpg);
	background-position: center;
	background-size: cover;
	height: 100vh;
    float: right;
    
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   
    
}
.center .entry{
    display: grid;
    place-items: center;
  
}
.center .entry-word{
    color: var(--clr-th);
    padding-bottom: 5px;
    font-family: var(--ff-therd);
    font-size: 100%;
    font-weight: 300;
    font-style: italic;
}
.get-start-btn button{
    margin-top: 30px;
    background: var(--clr-fr);
    border: 3px solid var(--clr-fr);
    border-radius: 60px;
    color: var(--clr-th);
    font-family: 'Marvel';
    font-size: 30px;
    width: 200px;
    height: 50px;
    font-size: 30px;
    font-weight: 400;
}
.get-start-btn button:hover{
    background: none;
    color: var(--clr-th);
    cursor: pointer;
}

@media (max-width:1016px){
    *{
        box-sizing: border-box;
    }
    .navbar{
        margin-top: 1rem ;
        height: 5rem;
        width: 80%;
        /*background:var(--clr-fr);*/
    }
    .logo{
        width: 100%;
    }
    .logo h1{
        width: 100%;
        height: 40px;
        text-align: center;
        font-size: 3rem;
    }
    .log-reg{
        display: none;
    }
    .center .entry-word h1{
        color: var(--clr-th);
        padding-bottom: 5px;
        font-family: var(--ff-therd);
        font-size: 4rem;
        font-weight: 300;
        font-style: italic;
    }
    .center{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .center .entry{
        display: flex;
        flex-direction: column; 
    }
    .get-start-btn{
        margin-top: 30%;
    }
    .get-start-btn button{
        font-size: 2.8rem;
        width: 17rem;
        height: 7rem;
        font-weight: 400;
    }
}
@media (max-width: 713px) {
    .get-start-btn button{
        font-size: 1.8rem;
        width: 10rem;
        height: 4rem;
    }
    .logo h1{
        font-size: clamp(2rem, 10vw , 3rem);
    }
}
@media (max-width: 480px) {
    .get-start-btn button{
        font-size: 2rem;
        width: 10rem;
        height: 4rem;
        font-weight: 400;
    }
    .logo h1{
        font-size: 2.5rem;
        padding-right: 1rem;
    }
    .center .entry-word h1{
        font-size: 3rem;
    }
}
section{
    display: grid;
    place-items: center;
    width: 100%;
    background: var(--clr-th);
    height: auto;
    padding: 5rem;
}
.center-area{
    width: 70%;
    display: grid;
    place-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 200px;
}
.about-us{
    width: 30rem;
    height: 6rem;
    display: grid;
    place-items: center;
    margin-top: 3rem;
}
.center-area img{
    width: min(20rem);
    margin: 3rem;
}
footer{
    width: 100%;
    padding: 1rem;
    background: var(--clr-fr);
    color: var(--clr-th);
    display: grid;
    place-items: center;
}
.center-footer{
    display: flex;
    flex-direction: row;
}
.contact-info{
    margin: 3rem;
}
@media (max-width: 920px) {
    section{
        padding: 0;
    }
    .about-us{
        width: 50vw;
        height: 8rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 1px;
        margin-top: 0;
        margin-bottom: 5rem;
    }
    .center-area{
        margin-top: 5rem;
        margin-bottom: 10rem;
    }
    .center-area img{
        width: 20rem ;

    }
   
    footer{
        padding: 0;
    }
    .center-footer{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 480px){
    section{
        padding: 0;
    }
    .about-us{
        width: 50vw;
        height: 8rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 1px;
        margin-top: 0;
        margin-bottom: 5rem;
    }
    .center-area{
        margin-top: 5rem;
        margin-bottom: 10rem;
    }
    .center-area img{
        width: 20rem ;

    }
   
    footer{
        padding: 0;
    }
    .center-footer{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 720px) {
    section{
        padding: 0;
    }
    .about-us{
        width: 50vw;
        height: 8rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 1px;
        margin-top: 0;
        margin-bottom: 5rem;
    }
    .center-area{
        margin-top: 5rem;
        margin-bottom: 10rem;
    }
    .center-area img{
        width: 20rem ;

    }
   
    footer{
        padding: 0;
    }
    .center-footer{
        display: flex;
        flex-direction: column;
    }
}
