body{
padding: 0;
margin: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: black;
background: url(https://img.freepik.com/free-vector/halftone-background-with-circles_23-2148907689.jpg?t=st=1647245336~exp=1647245936~hmac=b61cd90649efa639a91b88837821226760b66dd7139ee605aed5cd5911fde1f4&w=900) no-repeat;
background-position: center;
background-size: cover;
}

.input-form{
	width: 40rem;
	height: 40rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
input{
	width : 20rem;
height: 2rem;
outline: none;
border: none;
border-radius: 1rem;
margin: 5px;
}
input[type=email]{
width : 20rem;
height: 2rem;
outline: none;
border: none;
border-radius: 1rem;
margin: 5px;
padding: 10px;
font-size: 25px;
font-family: "Marvel";
}
input[type=button]{
	color:white;
	background: yellowgreen;
	font-size: 20px;
	font-family: "Marvel" ;
}
input[type=button]:hover{
	color: black;
	background: white;
	border-radius: .5rem;
	display: grid;
	place-items: center;

}
